  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

  body {
      font-family: "DM Sans";
  }


  header {
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .header_now {
          ul {
              max-width: 270px;
              width: 100%;

              display: inline-flex;
              padding-right: 2px;
              justify-content: center;
              align-items: flex-start;
              gap: 37px;

              li {
                  color: #000;
                  font-family: "DM Sans";
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  letter-spacing: 2px;
                  transition: 0.5s;

                  a {
                      text-decoration: none;
                      color: #000;
                  }

                  &:hover {
                      opacity: 0.3;
                  }


              }
          }
      }

      .header_button {
          button {
              background-color: #000;
              border: none;
              padding: 12px 24px;
              color: #FFF;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 2px;
              transition: 0.5s;

              &:hover {
                  color: #000;
                  background: #DFDFDF;
              }
          }
      }
  }

  main {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .main_first {
          width: 100%;
          display: flex;

          .main_first_left {
              background: #000;
              max-width: 387px;
              width: 100%;
              padding: 173px 111px;

              h1 {
                  color: #FFF;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 48px;
                  letter-spacing: 4.167px;
                  text-transform: uppercase;
              }

              p {
                  color: #FFF;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 25px;
                  padding-top: 21px;
              }

              .strelka {
                  display: flex;
                  align-items: center;
                  gap: 18px;
                  padding-top: 48px;
                  cursor: pointer;

                  b {
                      color: #FFF;
                      font-size: 12px;
                      font-weight: 700;
                      letter-spacing: 2px;
                  }

              }

          }

          .main_first_right {
              max-width: 830px;
              display: flex;

              img {
                  width: 830px;
                  height: 650px;
              }
          }

      }

      .main_second {
          width: 100%;
          display: flex;
          justify-content: center;
          box-sizing: border-box;

          .main_second_left {
              background: #FFF;
              max-width: 387px;
              width: 100%;
              padding: 136px 111px;

              h1 {
                  color: #000;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 48px;
                  letter-spacing: 4.167px;
                  text-transform: uppercase;
              }

              p {
                  color: #000;

                  font-style: normal;
                  font-weight: 400;
                  line-height: 25px;
                  padding-top: 21px;
              }

              .strelka {
                  display: flex;
                  align-items: center;
                  gap: 18px;
                  padding-top: 48px;
                  cursor: pointer;

                  b {
                      color: #000;
                      font-size: 12px;
                      font-weight: 700;
                      letter-spacing: 2px;
                  }

              }

          }

          .main_second_right {
              max-width: 830px;
              display: flex;

              img {
                  max-width: 830px;
                  max-height: 601px;
              }
          }
      }

      .main_three {
          width: 100%;
          display: flex;

          .main_first_left {
              background: #FFF;
              max-width: 387px;
              width: 100%;
              padding: 160px 111px;

              h1 {
                  color: #000;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 48px;
                  letter-spacing: 4.167px;
                  text-transform: uppercase;
              }

              p {
                  color: #000;

                  font-style: normal;
                  font-weight: 400;
                  line-height: 25px;
                  padding-top: 21px;
              }

              .strelka {
                  display: flex;
                  align-items: center;
                  gap: 18px;
                  padding-top: 48px;
                  cursor: pointer;

                  b {
                      color: #000;
                      font-size: 12px;
                      font-weight: 700;
                      letter-spacing: 2px;
                  }

              }

          }

          .main_first_right {
              max-width: 830px;
              display: flex;

              img {
                  width: 830px;
                  height: 600px;
              }
          }
      }

      .main_four {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          img {
              width: 360px;
              height: 500px;
              flex-shrink: 0;
              transition: 0.2s;

              &:hover {
                  transform: translateY(-24px);
              }
          }
      }

      .main_five {
          max-width: 1440px;
          display: flex;
          column-gap: 30px;
          justify-content: center;
          padding: 120px 0;

          .five_div {
              max-width: 350px;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;

              strong {
                  padding-top: 48px;
                  color: #000;
                  text-align: center;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 25px;
              }

              p {
                  color: #000;
                  text-align: center;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 25px;
                  padding-top: 16px;
              }


          }


      }

  }

  footer {
      margin: 0 auto;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1440px;
      padding: 64px 0;

      section {
          max-width: 1105px;
          width: 100%;
          display: flex;
          justify-content: space-between;

          .footer_left {
              display: flex;
              max-width: 350px;
              justify-content: space-between;
              flex-wrap: wrap;

              ul {
                  display: flex;
                  flex-direction: column;
                  row-gap: 19px;



                  li {
                      color: #FFF;
                      font-size: 12px;
                      font-weight: 700;
                      letter-spacing: 2px;
                      text-transform: uppercase;
                      transition: 0.2s;

                      a {
                          text-decoration: none;
                          color: #FFF;

                      }

                      &:hover {
                          opacity: 0.3;
                      }
                  }
              }

              .svg_icon {
                  display: flex;
                  gap: 15px;

                  svg:hover {
                      fill: black
                  }
              }
          }

          .footer_right {
              display: flex;
              flex-direction: column;


              .strelka {
                  display: flex;
                  align-items: center;
                  gap: 18px;
                  justify-content: end;


                  b {
                      color: #FFF;
                      text-align: right;
                      font-size: 12px;
                      font-weight: 700;
                      letter-spacing: 2px;

                      &:hover {
                          text-decoration-line: underline;
                      }

                  }
              }

              p {
                  padding-top: 102px;
                  color: #FFF;
                  text-align: right;
                  font-size: 15px;
                  font-weight: 400;
              }
          }
      }

  }